* {
  margin: 0;
}

.App {
  font-family: sans-serif;
  text-align: center;
  min-height: 100vh;
  padding: 1rem;
}

.card {
  display: inline-block;
  width: 350px;
  height: 400px;
  margin: 1rem;
  flex: 0.5;
  text-align: center;
  background: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 1rem;
  background-color: #f5f5f5;
}

img {
  border-radius: 50%;
  border: 1px solid black;
  height: 150px;
  width: 150px;
}

h1 {
  margin: 1rem 0;
  font-weight: 400;
}

h2 {
  margin: 1rem 0;
  font-weight: 300;
  font-Size:15px
}
.mail{
  position: relative;
  top: 6px;
  margin-right: 5px;
  color:rgb(102, 99, 99);
}
.phone{
  position: relative;
  top: 6px;
  margin-right: 3px;
color:rgb(102, 99, 99);
  
}
.web{
  position: relative;
  top: 6px;
  margin-right: 5px;
  color:rgb(102, 99, 99);
  
}
.bottomcard{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 15px;
  
  
}
button{
  border: none;
  background: transparent;
  cursor: pointer;
}
body.active-modal {
  overflow-y: hidden;
}



.modal, .overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49,49,49,0.8);
}
.modal-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.5;
   background: #f1f1f1;  padding: 14px 28px;
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
}
.container{
  margin: 20px;
  padding: 20px;
}
input{
  margin: 5px;
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
  
}
form button {
  margin: 5px;
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: aquamarine;
}

.likeee{
color: red;
}
.notLiked{
  color: rgb(155, 155, 155);
}